table.wbg-details-settings-table tr th,
table.wbg-details-settings-table tr td,
table.wbg-search-settings-table tr th,
table.wbg-search-settings-table tr td {
    border: 0px solid #000;
    padding: 10px;
}

table.wbg-details-settings-table tr th,
table.wbg-search-settings-table tr th {
    font-weight: 600;
}


/* Alert Bar Started */

.wbg-alert {
    padding: 20px !important;
    color: white;
}

.wbg-alert.success {
    background-color: #6ABD6E;
}

.wbg-alert.error {
    background-color: #F66358;
}

.wbg-alert.warning {
    background-color: #FFAA2B;
}

.wbg-alert.info {
    background-color: #47A8F5;
}

.wbg-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.wbg-closebtn:hover {
    color: black;
}


/* Alert Bar Ended */

input#wbg_shortcode {
    border: 2px dotted #ebf0ff;
    margin: 0;
    text-align: center;
    background: #FDB813;
    color: #CC0000;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 4px;
    width: 200px;
}